@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&family=Karla:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    width: 34rem;
    height: 34rem;
    margin: auto;
    padding: 120px 52px;
    color: #ffffff;
    background-color: #1F2937;
}

main h1 {
    font-family: "Karla", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
}

main h1 span {
    color: #4ADF86;
}

main #subhead {
    font-family: "Inter", sans-serif;
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

main #generate-btn {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    background-color: #10B981;
    color: #ffffff;
    height: 40px;
    width: 160px;
    margin: 32px 0 24px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main #generate-btn:hover {
    background-color: 	hsl(160, 84%, 34%);
}

main .rule {
    height: 1px;
    background-color: #2F3E53;
    margin: 8px 0 24px;
}

main #passwords-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main #passwords-container .password {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #55F991;
    background-color: #273549;
    width: 216px;
    height: 36px;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

main .tooltip-container {
    position: relative;
    display: inline-block;
}
  
main .tooltip-container .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #2F3E53;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
main .tooltip-container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2F3E53 transparent transparent transparent;
  }
  
main .tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }